{% extends 'layout.html' %}

{% block content %}
  <div id="home-panel">
    <div class="container home-container">
        <div id="guest-block">
          {% if guestError %}
            <p class="error-msg">{{ guestError }}</p>
          {% else %}
          <div id="logo-img">
            <img src="/img/logo.png">
          </div>
            <h1>Be our guest</h1>
            <p>If you're up for a quick game without user registration you can just go ahead and play as a guest.</p>
            <div id="home-btns">
              <a href="/guest" id="guest" class="btn">Play as guest</a>
              <a href="#" id="signin-btn" class="btn">Sign In</a>
              <a href="/rules" id="rules-btn" class="btn">Rules</a>
            </div>
          {% endif %}
        </div>
        <div id="signin-block">
          <h1>Sign In</h1>
          <form action="/" method="post" id="signin-form">
            <label for="username">Username</label>
            <input type="text" name="username" value="{{ values.username }}" id="username" autocomplete="off" autofocus="true">
            <label for="password">password</label>
            <input type="password" name="password" value="{{ values.password }}" id="password">
            {% if errors %}
            <p class="error-msg">{{ errors.msg }}</p>
            {% endif %}
            <p><a href="/recovery">Forgot your pasword?</a></p>
            <input type="submit" value="Sign In">
            <button id="cancel-btn" class="btn">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}