{% extends 'layout.html' %}

{% block content %}
  <div id="home-panel">
    <div class="container home-container">
        <div id="guest-block">
          {% if guestError %}
            <p class="error-msg">{{ guestError }}</p>
          {% else %}
          <div id="logo-img">
            <img src="/img/logo.png">
          </div>
            <h1>Be our guest</h1>
            <p>If you're up for a quick game without user registration you can just go ahead and play as a guest.</p>
            <div id="home-btns">
              <a href="/guest" id="guest" class="btn">Play as guest</a>
              <a href="#" id="signin-btn" class="btn">Sign In</a>
              <a href="/signup" id="signup-btn" class="btn">Sign Up</a>
              <a href="#" id="rules-btn" class="rules-btn btn">Rules</a>
            </div>
          {% endif %}
        </div>
        <div id="signin-block">
          <h1>Sign In</h1>
          <form action="/" method="post" id="signin-form">
            <label for="username">Username</label>
            <input type="text" name="username" value="{{ values.username }}" id="username" autocomplete="off" autofocus="true">
            <label for="password">password</label>
            <input type="password" name="password" value="{{ values.password }}" id="password">
            {% if errors %}
            <p class="error-msg">{{ errors.msg }}</p>
            {% endif %}
            <p><a href="/recovery">Forgot your pasword?</a></p>
            <input type="submit" value="Sign In">
            <button id="cancel-btn" class="btn">Cancel</button>
          </form>
        </div>

        <div id="rules-block" class="text-block">
          <h1>Reversi Rules</h1>
          <p>Reversi is a strategy board game for two players. It's played on a 8x8 board, players take turns placing disks on the board with their assigned color, which can be light or dark.</p>
          <p>The game begins with four disks placed in a square in the middle of the board, two pieces with dark color and two pieces with light color. The dark color moves first.</p>
          <p>Dark must place a disk in such position that there exists at least one straight occupied line between the new piece and another dark piece, with one or more contiguous light pieces between them. After placing the disk all light pieces lying on a straight line in between are converted to dark pieces.</p>
          <p>Players take alternate turns and lights play with the same rules with the roles reversed. The player with the most pieces on the board at the end of the game wins.</p>
          <p>
            <a href="#" class="btn" id="back-btn">Back</a>
          </p>
        </div>

    </div>
  </div>
{% endblock %}