{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="text-block">
      <h1>Reversi Rules</h1>
      <p>Reversi is a strategy board game for two players, also known as <em>Othello</em>, and it's played on a 8x8 board. Players take turns placing disks on the board with their assigned color, which can be light or dark.</p>
      <p>During a play, any disks of the opponent's color that are in a straight line and bounded by the disk just placed and another disk of the current player's color are turned into the current player's color.</p>
      <p>The object of the game is to have the majority of disks to display your color when the last playable empty square in the board is filled.</p>
      <p>The game begins with four disks placed in a square in the middle of the board, two pieces with dark color and two pieces with light color. The dark color moves first.</p>
      <p>Dark must place a disk in such position that there exists at least one straight occupied line between the new piece and another dark piece, with one or more contiguous light pieces between them. After placing the disk all light pieces lying on a straight line in between are converted to dark pieces.</p>
      <p>Players take alternate turns and lights play with the same rules with the roles reversed. The player with the most pieces on the board at the end of the game wins.</p>
      <p>You can check the <a href="https://en.wikipedia.org/wiki/Reversi#Rules">Wikipedia page</a> for the full rules and some <a href="https://en.wikipedia.org/wiki/Reversi#Strategic_elements">strategic elements</a> to improve your game.</p>
      <p>
        <a href="/" class="btn" id="back-btn">Back</a>
      </p>
    </div>
  </div>
{% endblock %}