{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div class="text-block">
      <h1>Reversi Rules</h1>
      <p>Reversi is a strategy board game for two players. It's played on a 8x8 board, players take turns placing disks on the board with their assigned color, which can be light or dark.</p>
      <p>The game begins with four disks placed in a square in the middle of the board, two pieces with dark color and two pieces with light color. The dark color moves first.</p>
      <p>Dark must place a disk in such position that there exists at least one straight occupied line between the new piece and another dark piece, with one or more contiguous light pieces between them. After placing the disk all light pieces lying on a straight line in between are converted to dark pieces.</p>
      <p>Players take alternate turns and lights play with the same rules with the roles reversed. The player with the most pieces on the board at the end of the game wins.</p>
      <p>
        <a href="/" class="btn" id="back-btn">Back</a>
      </p>
    </div>
  </div>
{% endblock %}