/*
==============================================
pulse
==============================================
*/

.pulse{
  animation-name: pulse;
  -webkit-animation-name: pulse;

  animation-duration: 1s;
  -webkit-animation-duration: 1s;

  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@-webkit-keyframes pulse {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

/*
==============================================
slideDown
==============================================
*/


.slideDown{
  animation-name: slideDown;
  -webkit-animation-name: slideDown;

  animation-duration: 0.7s;
  -webkit-animation-duration: 0.7s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;

  visibility: visible !important;
}

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  50%{
    transform: translateY(8%);
  }
  65%{
    transform: translateY(-4%);
  }
  80%{
    transform: translateY(4%);
  }
  95%{
    transform: translateY(-2%);
  }
  100% {
    transform: translateY(0%);
  }
}

@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%{
    -webkit-transform: translateY(8%);
  }
  65%{
    -webkit-transform: translateY(-4%);
  }
  80%{
    -webkit-transform: translateY(4%);
  }
  95%{
    -webkit-transform: translateY(-2%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*
==============================================
slideUp
==============================================
*/

.slideUp{
  animation-name: slideUp;
  -webkit-animation-name: slideUp;

  animation-duration: .3s;
  -webkit-animation-duration: .3s;

  animation-timing-function: ease;
  -webkit-animation-timing-function: ease;

  visibility: visible !important;
}

@keyframes slideUp {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0%);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

/**********************
 ***** animations *****
 **********************/

@-webkit-keyframes appear-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes appear-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes error-animation {
  0% {
    color: #e55;
  }
  100% {
    color: #FD008B;
  }
}

@-moz-keyframes error-animation {
  0% {
    color: #e55;
  }
  100% {
    color: #FD008B;
  }
}

/*****************
 ***** reset *****
 *****************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
:focus {
  outline: 0;
}
html {
  height: 100%;
}
body {
  position: relative;
  min-height: 100%;
  line-height: 1.5em;
  color: black;
  background: white;
  color: #333;
  font-family: 'Arial', 'helvetica neue', helvetica, sans-serif;
  background-color: rgb(56, 139, 209);
  background-image: url(../img/background.png);
  padding-bottom: 3em;
}
label {
  display: block;
}
input, button {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
input[type=text], input[type=password], input[type=email] {
  display: block;
  font-size: 1em;
  padding: 0.5em;
  width: 100%;
  border: 1px solid #ddd;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-bottom: 1.5em;
  font-family: inherit;
}
input[type=submit] {
  border: 0;
  padding: 0.5em 1em;
  font-size: 1em;
  font-family: inherit;
  cursor: pointer;
  line-height: 1.5em;
  height: 40px;
  background-color: #90ca5c;
  color: #fff;
}
input[type=submit]:hover {
  background-color: #6eab37;
}
ol, li, ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}

/******************
 ***** styles *****
 ******************/

header {
  background-color: #42BDC2;
  background-color: #fff;
  background-color: rgb(56, 139, 209);
  border-bottom: 1px solid #2568a0;
  color: #fff;
  font-weight: bold;
  font-size: 26px;
  line-height: 2.5em;
}
header a {
  color: #fff;
}
header:after {
  content:" ";
  display: block;
  clear: both;
}
footer {
  font-size: 12px;
  text-align: center;
  line-height: 3em;
  color: #fff;
}
footer a {
  border-bottom: 1px dotted #fff;
}
a {
  color: #fff;
  text-decoration: none;
}
li {
  padding: 10px;
}
#navigation {
  font-size: 0.7em;
  float: right;
  text-transform: none;
}
#navigation a {
  margin-left: 2em;
  font-weight: normal;
  display: block;
  padding: 0 0.5em;
  float: right;
}
#navigation a:hover {
  background-color: #2568A0;
}
#logo {
  float: left;
}
#guest, .btn {
  border: 0;
  background-color: #7FC242;
  background-color: #90ca5c;
  color: #fff;
  font-size: 24px;
  padding: 1em;
  display: inline-block;
  margin-top: 1em;
  text-align: center;
}
#guest:hover, .btn:hover {
  background-color: #6eab37;
}
#guest:hover, .btn:hover,
#request-panel-accept:hover,
#request-panel-deny:hover,
#request-panel-close:hover {
  cursor: pointer;
}
#request-panel-accept:disabled {
  background-color: #efefef;
  cursor: default;
  color: #ccc;
}
#request-panel-accept {
  background-color: #7FC242;
  border: 0;
  color: #fff;
  font-size: 24px;
  padding: 1em;
  margin-right: 0.5em;
}
#request-panel-accept {
  background-color: #7FC242;
  border: 0;
  color: #fff;
  font-size: 24px;
  padding: 1em;
}
#request-panel-deny,
#request-panel-close {
  background-color: rgb(253, 0, 139);
  border: 0;
  color: #fff;
  font-size: 24px;
  padding: 1em;
}
#request-panel-close {
  display: none;
}
.accept-request, .btn {
  cursor: pointer;
  border: 0;
  color: #fff;
  font-size: 14px;
  padding: 0.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  margin-right: 0.5em;
}
.deny-request {
  cursor: pointer;
  background-color: rgb(253, 0, 139);
  border: 0;
  color: #fff;
  font-size: 14px;
  padding: 0.5em;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.container {
  width: 960px;
  margin: 0 auto;
}
#home-panel,
#users-panel,
#game-panel {
    padding-bottom: 3em;
    padding-top: 3em;
}

#game-panel {
  display: none;
}
#game-request-panel {
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
}
#home-panel {
  border-top: none;
  display: block;
  padding-bottom: 0;
  padding-top: 3em;
}
#home-intro,
#home-outro {
  text-align: center;
  font-size: 24px;
  line-height: 1.5em;
  padding: 3em 0;
  color: #777;
}
#home-outro {
  text-align: left;
  margin-bottom: 0;
  font-size: 18px;
}
#development {
  text-align: center;
  color: #fff;
  background-color: #a00;
  padding: .5em 0;
}
.home-column h1 {
  font-size: 22px;
  color: #333;
  line-height: 1.5em;
  font-weight: bold;
}
.home-column p {
  margin-bottom: 1.5em;
}
.home-column {
  width: 460px;
  float: left;
}
.home-column:first-child {
  margin-right: 40px;
}
#home-outro:after {
  display: block;
  content:"";
  clear: both;
}
.home-container:after {
  content: "";
  display: block;
  clear: both;
}
#guest-block {
  float: left;
  width: 400px;
  padding: 30px;
}
#guest-block h1,
#signin-block h1,
#signup-block h1 {
  font-size: 20px;
  line-height: 1.5em;
  text-align: left;
  color: #fff;
  margin-bottom: 0.5em;
  font-weight: bold;
}
#guest-block p, #signin-block p {
  margin-bottom: 1.5em;
  line-height: 1.5em;
  text-align: left;
}
.btn-danger {
  color: #c2dbf1;
  padding: 0.5em 1em;
  line-height: 1.5em;
  border: none;
  background-color: #FC005D;
}
.btn-danger:hover {
  color: #fff;
  background-color: #FC005D;
}
#play-btns {
  display: none;
}
#signup-btn {
  display: none;
}
#signin-block {
  width: 400px;
  float: right;
  background-color: rgba(100,100,100,0.5);
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#signup-block,
#settings-block {
  max-width: 400px;
  width: 100%;
  background-color: rgba(100,100,100,0.5);
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin: 3em auto;
}
#signin-block a {
  color: #c2dbf1;
}
#signin-block a:hover {
  color: #fff;
}
.home-container {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 50px;
  color: #fff;
}
.clear {
  clear: both;
}
#notifications-panel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #333;
  color: #fff;
  z-index: 4;
}
.notification {
  line-height: 3em;
  font-size: 18px;
}
.notification span {
  float: right;
}
#game-request-panel {
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  z-index: 5;
  min-height: 100%;
  background-image: url(../img/background.png);
}
#request-panel-message {
  font-size: 38px;
  font-weight: bold;
  line-height: 1.5em;
  margin: 1em auto;
  width: 100%;
  max-width: 800px;
}
#board-message.show {
  -webkit-animation: appear-animation 0.3s ease-out 0 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation: appear-animation 0.3s ease-out 0s 1;
  -moz-animation-fill-mode: forwards;
}
#home-panel:after,
#users-panel:after,
#game-panel:after {
  display: block;
  content: "";
  clear: both;
}
#users-panel {
  overflow: hidden;
}
#users {
  background-color: #fff;
  width: 350px;
  height: 576px;
  border: 5px solid #fff;
  overflow-x: hidden;
  float: right;
}
#game-sidebar {
  width: 350px;
  height: 586px;
  float: right;
}
#dashboard {
  overflow: hidden;
  height: 190px;
  background-color: #FEE664;
  border-bottom: 5px solid #fedb21;
  padding-top: 20px;
  color: #524501;
  font-size: 24px;
}
#dashboard-light, #dashboard-dark {
  line-height: 1.5em;
}
#dashboard-light:before {
  display: inline-block;
  content: " ";
  background-color: #FFF;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}
#dashboard-dark:before {
  display: inline-block;
  content: " ";
  background-color: #000;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 0 0.5em;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}
#dashboard-turn {
  color: #d8b603;
  font-weight: bold;
  line-height: 1.5em;
  font-size: 18px;
  margin-left: 2.5em;
}
#dashboard-end-game {
  background-color: #d8b603;
  float: right;
  border: none;
  font-size: 18px;
  margin-right: 2.5em;
  font-weight: bold;
  color: #FEE664;
  cursor: pointer;
}
#dashboard-end-game:hover {
  color: #fff;
  background-color: rgb(253, 0, 139);
}
#dark-disks-count,
#light-disks-count {
  display: block;
  margin-left: 2.5em;
  font-size: 18px;
  margin-bottom: 1em;
}
.server-message {
  color: #aaa;
  font-style: italic;
}
.user {
  padding: 0;
  line-height: 3em;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
}
.user:before {
  display: inline-block;
  content: " ";
  background-color: #7FC242;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  margin: 0 1em;
  width: 1em;
  height: 1em;
  vertical-align: text-bottom;
}
.me {
  cursor: default;
  color: #888;
}
.me:before {
  background-color: #efefef;
}
.playing {
  cursor: default;
}
.playing:before {
  background-color: #FF8A3C;
}
.chat-username {
  color: #388BD1;
}
#game-chat {
  height: 310px;
  overflow: scroll;
}
#chat {
  width: 100%;
  height: 525px;
  overflow: scroll;
}
#chat-container {
  border: 5px solid #fff;
  background-color: #fff;
  overflow: hidden;
  display: block;
  width: 576px;
  height: 576px;
  float: left;
  position: relative;
}
#game-chat-container {
  border: 5px solid #fff;
  border-bottom: 5px solid #fff;
  background-color: #fff;
  overflow: hidden;
  display: block;
  height: 361px;
  float: left;
  position: relative;
  width: 340px;
}
#game-chat-input,
#chat-input {
  border: none;
  border-top: 1px solid #ccc;
  width: 100%;
  font-size: 18px;
  line-height: 1.5em;
  padding: 0.5em 0;
  position: absolute;
  bottom: 0;
  margin: 0;
  background-color: inherit;
}
#board-message {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  text-align: center;
  font-size: 36px;
  color: #333;
  display: none;
}
#board-message-text {
  display: block;
  margin-top: 3em;
  line-height: 3em;
}
#board-message-button {
  font-family: 'helvetica neue', arial, sans-serif;
  font-size: 18px;
  padding: 0.5em;
  background-color: #7FC242;
  border: none;
  color: #fff;
  margin-bottom: 1em;
  cursor: pointer;
}
#board {
  border: 5px solid #2E8C59;
  display: block;
  width: 576px;
  float: left;
  position: relative;
}
.mobile {
  display: none;
}
.row {
  width: 100%;
}
.row:after {
  display: block;
  content: "";
  clear: both;
}
.square {
  float: left;
  width: 70px;
  height: 70px;
  background-color: #3FBF79;
  border: 1px solid #72d09d;
  border-left: 1px solid #72d09d;
  border-right: 1px solid #a5e1c0;
  border-bottom: 1px solid #a5e1c0;
  border-top: 1px solid #72d09d;
}
.disk:after {
  display: block;
  width: 70%;
  height: 70%;
  margin: 15%;
  content: " ";
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
.lights:after {
    background-color: #fff;
}
.darks:after {
  background-color: #000;
}
.bot {
  background-color: #fafafa;
}
.error-msg {
  -webkit-animation: error-animation 1s linear 0 infinite alternate;
  -moz-animation: error-animation 1s linear 0s infinite alternate;
  color: #e55;
  margin-bottom: 1.5em;
  line-height: 1.5em;
}
.generic-msg {
  color: #fff;
  padding-top: 3em;
}
.text-block {
  max-width: 600px;
  width: 100%;
  background-color: rgba(100,100,100,0.5);
  padding: 30px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin: 0em auto;
}
.text-block h1 {
  font-size: 1.5em;
  line-height: 1.5em;
}
.text-block p {
  margin-bottom: 1.5em;
}
.text-block p a {
  color: #c2dbf1;
}
.text-block p a:hover {
  color: #fff;
}
#loading-panel {
  background-color: rgb(56, 139, 209);;
  background-image: url(../img/background.png);
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
#loading-panel p {
  opacity: 0;
  color: #fff;
  width: 50%;
  margin: 1.5em auto;
  padding: 1.5em;
  text-align: center;
  font-size: 1.5em;
}
#back-btn {
  color: #fff;
}

#signin-btn, #rules-btn, #logo-img {
  display: none;
}

#rules-block {
  display: none;
}

/*************************
 ***** media queries *****
 *************************/

@media (max-width: 1200px) {
  #chat-container, #users {
    height: 480px;
  }
  #chat {
    height: 430px;
  }
  #board {
    width: auto;
    margin-left: 60px;
  }
  .square {
    float: left;
    width: 60px;
    height: 60px;
  }
  #game-sidebar {
    width: 350px;
    height: auto;
    float: right;
  }
  #game-chat-container {
    height: 280px;
  }
  #game-chat {
    height: 230px;
  }
}

@media (max-width: 960px) {
  #request-panel-deny,
  #request-panel-accept,
  #request-panel-close,
  #dashboard-end-game,
  #board-message-button {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #dashboard-end-game {
    padding: .5em 1em;
  }
  input[type=submit] {
    display: block;
    width: 100%;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #logo-img {
    text-align: center;
    margin-bottom: 3em;
    margin-top: 1.5em;
    display: block;
  }
  #logo-img img {
    width: 100px;
    height: 114px;
  }
  .btn-danger {
    width: 100%;
    background-color: #FC005D;
    color: #fff !important;
    color: #c2dbf1;;
    padding: 0.5em 1em;
    font-size: 1em;
    line-height: 1.5em;
    border: none;
    display: block;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
     text-align: center;
     margin-top: 1.5em;
  }
  #signin-btn, #rules-btn, #back-btn, #cancel-btn, #signup-btn, #mobile {
    color: #fff;
    display: block;
  }
  #play-btns {
    display: block;
  }
  header {
      line-height: 1.5em;
  }
  footer, #guest-block h1, #guest-block p, header, 
  #chat-container, #game-chat-container, #signin-block {
    display: none;
  }
  #signin-block , #settings-block, #guest-block {
    width: 100%;
    float: none;
    padding: 1em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: none;
  }
  #users {
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    width: 100%;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    margin: 0 auto;
    float: none;
    height: auto;
    min-height: 200px;
  }
  #navigation:before {
    display: block;
    content: "";
    clear: both;
  }
  #navigation {
    display: none;
    width: 100%;
    text-align: center;
    float: none;
    font-size: 16px;
  }
  #navigation a {
    margin: 0 1em;
    padding: 0 0.5em;
    float: none;
  }
  #home-btns .btn, #play-btns .btn {
    font-size: 18px;
  }
  #logo {
    font-size: 18px;
  }
  #guest, .btn {
    width: 100%;
    margin: 1em 0;
    padding: 0;
    padding: .5em 0;
    display: block;
    text-align: center;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
  }
  #home-panel {
    padding-top: 0px;
  }
  #request-panel-message {
    font-size: 18px;
  }
  #request-panel-default-buttons button {
    font-size: 18px;
    width: 100%;
    display: block;
    margin: 1em auto;
  }
  .square {
    width: 35px;
    height: 35px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  #board-message {
    font-size: 18px;
    line-height: 1.5em;
  }
  #board {
    width: 280px;
    margin-left: 0px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
  #game-sidebar {
    width: 290px;
    margin: 0 auto;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
    height: auto;
    float: none;
  }
  #game-panel, #users-panel {
    padding: .5em 0;
  }
  #dashboard {
    font-size: 14px;
    height: auto;
    padding-bottom: 1em;
    padding-top: .5em;
    border: none;
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    display: block;
    width: 100%;
  }
  #dashboard:after {
    content: "";
    display: block;
    clear: both;
  }
  #game-sidebar, #dashboard-end-game, #dashboard-turn,
  #dark-disks-count, #light-disks-count {
    font-size: 14px;
  }
  #dark-disks-count,
  #light-disks-count {
    margin-bottom: .5em;
  }
  
  .dashboard-player {
    width: 140px;
    float: left;
  }
  .container {
    width: 100%;
    padding: 0 1em;
    margin: none;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
  }
  .notification span {
    display: block;
    width: 100%;
  }
  .notification span button {
    width: 100%;
    padding: 1em 0;
  }
}